{% extends 'SUPA_Triple_Rumble_Tournament/base.html' %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block body %}
    <h1 class="title text-center">About</h1>
    <div class="b-example-divider bg-white"></div>
    <div class="wrap border-dark">
        <h2>Admin</h2>
        <img src="{% static 'images/rango.jpg' %}" class="img-thumbnail" width=200 height=200>
        <img src="{% static 'images/rango_about.jpg' %}" class="img-thumbnail" width=200 height=200>
    </div>
    <div class="b-example-divider bg-white"></div>
    <div class="wrap border-dark">
        <h2>Staff</h2>
        <img src="{% static 'images/rango.jpg' %}" class="img-thumbnail" width=200 height=200>
        <img src="{% static 'images/rango_about.jpg' %}" class="img-thumbnail" width=200 height=200>
    </div>
    <div class="b-example-divider bg-white"></div>
    <div class="wrap border-dark">
        <h2>Map Pool</h2>
        <img src="{% static 'images/rango.jpg' %}" class="img-thumbnail" width=200 height=200>
        <img src="{% static 'images/rango_about.jpg' %}" class="img-thumbnail" width=200 height=200>
    </div>
    <div class="b-example-divider bg-white"></div>
    <div class="wrap border-dark">
        <h2>Production</h2>
        <img src="{% static 'images/rango.jpg' %}" class="img-thumbnail" width=200 height=200>
        <img src="{% static 'images/rango_about.jpg' %}" class="img-thumbnail" width=200 height=200>
    </div>


{% endblock %}