{% extends 'SUPA_Triple_Rumble_Tournament/base.html' %}
{% load static %}
{% block title %}
    Homepage
{% endblock %}
{% block body %}
    <div class="title text-center">
        <h1>SUPA Triple Tournament</h1>
        <h8 >The future of beat saber tournament.</h8>
    </div>
    <div class="b-example-divider bg-white"></div>
    <div class="row text-center">
        <div class="col">
            <span>
                <h4>Welcome to the official portal for the SUPA Triple Rumble Tournament.</h4>
                <p>SUPA Tournaments is an innovative tournament group looking to change the way tournaments are made and played in the popular Virtual Reality title Beat Saber!</p>
                <p>We focus on making sure our tournaments are of a very high quality and focus on creating a unpredictable and fun environment where no one knows who is going to emegre as the victor!</p>
                <p>So, come and watch our next live stream or join in our next tournament, as you could be the next tournament champion!</p>
            </span>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="">

    </div>
{% endblock %}